<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/assets/styles/style.css" type="text/css" media="screen" charset="utf-8">
  <script type="text/javascript" charset="utf-8" src="/assets/scripts/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/assets/scripts/jquery.backstretch.js"></script>
  <title><%= @item[:title] %></title>
</head>
<body>

  <%= render '_menu' %>

  <div id="content">
    <%= yield %>
  </div>
  <script type="text/javascript" charset="utf-8">
    $(function() {
        var imageCount = 3;
        function generateIndex() {
          return new Date().getTime() % imageCount;
        }
        var start = generateIndex();
        $.backstretch("/assets/images/pracovna_"+start+"_comp.jpg", {speed: 150});

        var slider = $('<ul class="pagination"></ul>');
        for(var i = 0; i < imageCount; i++) {
          var link = $('<li><a href="#'+i+'" data-index="'+i+'" title="Switch background">'+i+'</a></li>');
          if(i == start) link.addClass('current');
          slider.append(link);
        }
        $("#content").append(slider);
        slider.find('a').click(function() {
          $("#backstretch img:first").attr("src","/assets/images/pracovna_"+$(this).data('index')+"_comp.jpg");
          slider.find('li').removeClass('current');
          $(this).parent().addClass('current');
          return false;
        });
    });
  </script>
</body>
</html>

