<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/assets/styles/style.less" type="text/less" media="screen" charset="utf-8">
  <script type="text/javascript" charset="utf-8" src="/assets/scripts/less-1.0.41.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/assets/scripts/less-1.0.41.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/assets/scripts/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/assets/scripts/galleria-1.2.3.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/assets/scripts/galleria.flickr.js"></script>
  <title><%= @item[:title] %></title>
</head>
<body>

  <%= render '_menu' %>

  <div id="content">
    <%= yield %>
  </div>

  <script type="text/javascript" charset="utf-8">
    $(function() {
    Galleria.loadTheme('/assets/scripts/galleria/themes/fullscreen//galleria.fullscreen.code.js');
    //var api_key =// you must have a flickr API key 
    //var setId = // flickr set ID to load
    var flickr = new Galleria.Flickr(api_key); // initialize the plugin 

    flickr.getSet(setId, { 
        size: 'big', 
        description: false, 
        max: 500, 
        sort: 'date-posted-desc' 
      }, function(data) { 
        var transformed = [];
        $.each(data, function(index,item) {
          transformed[data.length - index -1] = item;
          });
        $('#content').galleria({ 
          dataSource: transformed,
        }); 
    }); 
    });
  </script>
</body>
</html>

